<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/admin/update/course" method="post">
        <input type="text" name="courseId" placeholder="Enter course id">
        <input type="text" name="title" placeholder="Enter title of the course">
        <input type="text" name="description" placeholder="Enter updated description">
        <input type="text" name="imageurl" placeholder="Enter imageurl">
        <input type="number" name="price" placeholder="Enter price of the course">
        <input type="submit"placeholder="submit">
     </form>
</body>
</html>